body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('../img/batiment\ devil\ hunter.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    text-align: center;
    padding: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
}

nav {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 15px 30px; 
    background-color: rgb(82, 107, 104);
    transition: all .4s;
    border-style: inset;
    text-transform: uppercase;
}

nav a:hover {
    background-color: lightcoral;
    color: black;
}


.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    .main-section {
        flex-direction: row; 
    }

    .side-section {
        display: block; 
        margin-right: 20px;
    }
}

.image-text-container {
    max-width: 800px;
    width: 100%;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    margin-right: 20px;
}

.text {
    max-width: 400px; 
    color: #fff;
    margin: 0 auto; 
    padding: 20px; 
    background-color: rgba(0, 0, 0, 0.7);
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.burger-menu {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    margin: 10px;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #fff;
}


nav {
    display: none;
}

nav.show {
    display: block;
}


body.dark-mode {
    background-color: #222;
    color: #fff;
}

header.dark-mode {
    background-color: rgba(0, 0, 0, 0.7);
}

.dark-mode-toggle {
    color: #fff;
    cursor: pointer;
    margin-left: 10px; 
    user-select: none; 
}

